@import url("https://v1.fontapi.ir/css/Vazir:300;400;500");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Vazir, sans-serif;
  direction: rtl;
}

body {
  overflow-x: hidden;
}

.search-container {
  width: 60%;
  height: 45px;
  margin: auto;
  border-radius: 0.7rem;
  background-color: #fff;
  box-shadow: 0 0 27px 1px rgb(173 173 173 / 40%);
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.toggle-button {
  background-color: #2988e8;
  color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5%;
  bottom: 10%;
  cursor: pointer;
  font-size: 3rem;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  position: fixed;
  inset: 0;
  transform: translateY(-100%);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}

.form {
  width: 50%;
  height: fit-content;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  border-radius: 5px;
}

.todo-input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 30px rgb(173 173 173 / 40%);
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}

.cancel-button {
  width: 6rem;
  padding: 0.2rem 0.6rem;
  font-size: 1.1rem;
  background-color: transparent;
  border: 2px solid #2988e8;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 4px;
}

.save-button {
  width: 6rem;
  padding: 0.2rem 0.6rem;
  font-size: 1.1rem;
  background-color: #2988e8;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.tasks-container {
  width: 60%;
  height: fit-content;
  margin: auto;
  border-radius: 0.7rem;
  background-color: #fff;
  box-shadow: 0 0 27px 1px rgb(173 173 173 / 40%);
  margin-top: 2rem;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.task-item {
  width: 100%;
  height: 40px;
  background-color: #2988e8;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding-right: 1rem;
  cursor: pointer;
}

.task-item.completed {
  background-color: rgb(0, 113, 0);
}

@media (width<=1020px) {
  .tasks-container{
    width: 75%;
  }
  .search-container{
    width: 75%;
  }
  .form{
    width: 85%;
  }
}
